/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');

/* Shared styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    /* margin: 0;
    padding: 0; */

}
.btn-primary{
    /* margin-top: 20px; */
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFFFFF;
    font-size: 1.25rem;
    border: 0;
    font-weight: 600;
    cursor: pointer;
}

/* Header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{

    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

/* Banner styles */
.banner-content{
     /* width: 800px; */
    text-align: center; 
    margin: 0 auto; 
}
 
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
 
.banner-description{
    font-size: 0.9rem;
    font-weight: 400;
    color: #727272;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}


/* Main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* Teams styles */
.teams-container{
    /* display:grid; */
    /* grid-template-columns: repeat(2,1fr); */
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
    font-weight: 700;
}
 

.teams-description{
    font-size: 1rem;
    font-weight: 400;
}

/* Some Facts style */
.facts-title{
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;   
}
.facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px ;
}
.facts-card-container .card-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.81rem;
    font-weight: 600;
    align-items: center;
    margin-top: 10px ;
    margin-bottom: 10px;
}

/* Sponsor section */
.sponsors{
    text-align: center;
}
.spons-title{
    color: #131313;
    font-size: 2.81rem;
    font-weight: 700;
   
}
.spons-description{
    color: #727272;
    font-size: 1.2rem;
    font-weight: 400;
    
}

/*  */
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img{
    width: 156px;
    height: 50px;
}

/* features section styles */

.features{
    margin-top: 130px;
    display: flex;
    gap: 146px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-card-title{
    color:  #131313;
    font-size: 1.2rem;
    font-weight: 600;
}
.feature-card-description{
    color:#727272;
    font-size: 1.2rem;
    font-weight: 400;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h3{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;

}
.feature-img img{
    height: 90%;
    margin-left: 50px;
}
 






/* Features section */
.feature-title{
    color: #131313;
    font-size: 2.82rem;
    font-weight: 700;
    
    /* background: #FF900E; */
}
.nukta{
    border-left: 5px solid #FF900E;
     
    padding-left: 20px;
}
.feature-description{
    color: #727272;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Footer section */
footer{
    border-radius: 8px;
    background: #FFF4E7;
    max-width: 1440px;
    margin: 70px auto;
 
    text-align: center;
}
.footer-title{
    color: #424242;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 20px;
    
}
 












/* Responsive Media Query */

/* Mobile Devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav , .teams-container, .features,
    .facts-card-container, .sponsors-img-container{
        flex-direction: column;
    }
    .teams-img-container{
        /* display: grid; */
        grid-template-columns: 1fr;
         
    }
    .feature-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        /* width: 100%; */
        max-width: 300px;
    }
    .teams-content,.facts-card-container, .fact-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
   
}
/* Tablets */
@media screen and (min-width: 576px ) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container,.features, .sponsors-img-container{
        flex-direction: column;
    }
}